.hide{
    display: none;
}
.selected{
    background: grey;
}
.flask{
    float: left;
    margin-right: 10px;
}
.flaskChild{
    position: relative;
    margin-top: 20px;
    padding: 5px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
}
.flaskAbs{
    position: absolute;
    bottom: 0;
}
.ball{
    border-radius: 50%;
    border:1px solid;
    padding: 5px;
    margin: 3px;
}
.total{
    color: red;
}
.done{
    color: green !important;
}